In [24]:
# Import all needed libraries

In [25]:
# Run previous ipynb files
%run extractData.ipynb

c:\Users\zsaordenio\Documents\Python\global-warming-usa\data
8 csv files detected:

  0 : emission_agriculture.csv
  1 : emission_all_gases.csv
  2 : emission_all_sectors.csv
  3 : emission_commercial.csv
  4 : emission_electricity_generation.csv
  5 : emission_industry.csv
  6 : emission_residential.csv
  7 : emission_transport.csv

In [26]:
dfs[0]

,Agriculture Sector,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Crop cultivation,339.072661,328.175150,325.584284,349.609916,329.949691,336.740352,346.092140,335.533196,341.571220,...,343.846566,351.756466,334.623721,317.270598,361.446588,372.734668,372.653560,350.979883,348.323080,359.799296
1,Livestock,215.281849,217.475742,220.917738,224.862133,231.426176,237.058008,234.957206,233.645593,235.516509,...,243.014258,243.241799,241.331808,241.073321,237.483665,235.817181,241.913365,249.553483,253.948196,258.702444
2,Fuel combustion,44.612708,44.031628,44.068224,44.142339,44.457250,44.339574,44.024139,44.396349,43.438702,...,47.015404,47.107727,47.332253,48.551844,46.238006,46.387902,41.422144,40.447369,40.107538,40.054810
3,Total,598.967218,589.682520,590.570246,618.614388,605.833117,618.137934,625.073485,613.575138,620.526432,...,633.876228,642.105992,623.287782,606.895764,645.168259,654.939751,655.989069,640.980734,642.378814,658.556550