In [7]:
# Import all needed libraries

In [8]:
# Run previous ipynb files
%run extractData.ipynb

[0] : 2 csv files detected for <climateKnowledge> directory:
  [0] : pr_1901_2016_USA.csv
  [1] : tas_1901_2016_USA.csv

[1] : 8 csv files detected for <emission> directory:
  [0] : emission_agriculture.csv
  [1] : emission_all_gases.csv
  [2] : emission_all_sectors.csv
  [3] : emission_commercial.csv
  [4] : emission_electricity_generation.csv
  [5] : emission_industry.csv
  [6] : emission_residential.csv
  [7] : emission_transport.csv

[2] : 3 csv files detected for <epa> directory:
  [0] : ghg-concentrations.csv
  [1] : sea-level.csv
  [2] : snow-cover.csv

In [9]:
MAIN_GRID[0][1]

      Temperature - (Celsius)   Year    Statistics         Country  ISO3
0                    -5.71120   1901   Jan Average   United States   USA
1                    -6.55770   1901   Feb Average   United States   USA
2                    -0.00450   1901   Mar Average   United States   USA
3                     4.78677   1901   Apr Average   United States   USA
4                    12.08400   1901   May Average   United States   USA
...                       ...    ...           ...             ...   ...
1387                 20.18120   2016   Aug Average   United States   USA
1388                 16.01500   2016   Sep Average   United States   USA
1389                 10.18930   2016   Oct Average   United States   USA
1390                  3.36611   2016   Nov Average   United States   USA
1391                 -4.05250   2016   Dec Average   United States   USA

[1392 rows x 5 columns]