In [39]:
# Import libraries
import pandas as pd
import altair as alt
import csv

from os import listdir
from os.path import isfile, join

In [56]:
# Get all .csv file from root directory and display results
ROOT_DIR = os.path.abspath(os.curdir)

files = []
for file in listdir(ROOT_DIR):
    if isfile(join(FILE_PATH, file)) and file[-4:] == ".csv":
        files.append(file)

def getFiles():
    print(str(len(files)) + " csv files detected:")
    print(*files, sep='\n')
    
getFiles()

8 csv files detected:
emission_agriculture.csv
emission_all_gases.csv
emission_all_sectors.csv
emission_commercial.csv
emission_electricity_generation.csv
emission_industry.csv
emission_residential.csv
emission_transport.csv

In [58]:
# Read each file, convert them into a panda's dataframe, and store it in a list
dfs = []
for fileName in files:
    df = pd.read_csv(fileName)
    dfs.append(df)

getFiles()
dfs[0]
dfs[1]
dfs[2]

8 csv files detected:
emission_agriculture.csv
emission_all_gases.csv
emission_all_sectors.csv
emission_commercial.csv
emission_electricity_generation.csv
emission_industry.csv
emission_residential.csv
emission_transport.csv

,Economic Sector,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Transportation,1527.071188,1480.927212,1540.530936,1577.519112,1632.153745,1667.328361,1723.497937,1750.008339,1792.365801,...,1792.976080,1801.062036,1768.632996,1750.432127,1756.407187,1791.621093,1800.244091,1835.606604,1852.310850,1882.557612
1,Electricity generation,1875.593659,1871.622530,1886.593971,1962.354970,1987.151999,2003.872715,2076.854716,2143.022602,2229.562822,...,2196.033477,2312.117767,2209.814594,2070.927498,2088.886182,2089.120514,1949.233643,1856.805928,1778.395519,1798.925112
2,Industry,1628.676867,1602.045952,1633.075916,1602.408186,1628.107251,1646.809850,1674.908854,1672.315953,1644.509941,...,1311.265849,1403.792368,1407.832690,1400.931977,1453.954571,1438.777852,1429.754293,1388.787803,1411.526695,1470.743037
3,Agriculture,598.967218,589.682520,590.570246,618.614388,605.833117,618.137934,625.073485,613.575138,620.526432,...,633.876228,642.105992,623.287782,606.895764,645.168259,654.939751,655.989069,640.980734,642.378814,658.556550
4,Commercial,428.668347,435.610013,431.178707,424.627494,428.065622,427.284274,434.832768,427.624054,402.075852,...,417.831029,420.249722,415.624495,395.755763,419.065286,429.352426,442.511516,426.991129,426.763985,443.321738
5,Residential,344.701666,354.247606,360.821161,372.164956,362.939297,367.158678,398.995438,380.422766,346.477147,...,354.682780,355.722892,349.317337,307.273218,357.995952,378.575143,352.002720,328.277055,330.234728,375.919063
6,U.S. territories,33.321186,39.123871,37.315650,39.085447,41.479440,40.423829,40.243846,41.835783,42.232269,...,47.240643,46.562267,46.023576,48.458468,48.073592,46.629876,46.636094,46.631184,46.624050,46.626504
7,Total,6437.000131,6373.259703,6480.086588,6596.774554,6685.730471,6771.015640,6974.407044,7028.804635,7077.750264,...,6753.906086,6981.613045,6820.533469,6580.674816,6769.551029,6829.016655,6676.371427,6524.080438,6488.234640,6676.649617