In [123]:
# Import all needed libraries
import pandas as pd
import altair as alt
import csv
from os import listdir
from os.path import isfile, join

In [124]:
# Define all methods and global variables

# Root directory of the project repo
ROOT_DIR = os.path.abspath(os.curdir) 
DATA_DIR = ROOT_DIR + "\\data"
print(DATA_DIR)
# Get all csv files from root directory 
def readCSVFiles():
    files = []
    for file in listdir(DATA_DIR):
        if isfile(join(DATA_DIR, file)) and file[-4:] == ".csv":
            files.append(file)
    return files

# Display all raw filenames
def printFiles(csvFiles):
    n = len(csvFiles)
    print(str(n) + " csv files detected:\n")
    for i in range(n):
        print('  {} : {}'.format(i, csvFiles[i]))

# Given list of csvFiles, return a list of dataframes
def createDataFrames(csvFiles):
    dfs = []
    for fileName in csvFiles:
        dfs.append(pd.read_csv("data/" + fileName))
    return dfs

c:\Users\zsaordenio\Documents\Python\global-warming-usa\data

In [125]:
csvFiles = readCSVFiles()
printFiles(csvFiles)

dfs = createDataFrames(csvFiles)

8 csv files detected:

  0 : emission_agriculture.csv
  1 : emission_all_gases.csv
  2 : emission_all_sectors.csv
  3 : emission_commercial.csv
  4 : emission_electricity_generation.csv
  5 : emission_industry.csv
  6 : emission_residential.csv
  7 : emission_transport.csv

In [126]:
dfs[0]

,Gas,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Carbon dioxide,5128.300617,5078.889576,5182.706720,5283.437595,5377.032708,5438.905704,5626.911901,5703.706968,5751.051980,...,5491.035727,5698.055779,5565.294401,5367.568555,5514.029294,5561.719216,5412.432194,5292.267561,5253.606130,5424.881502
1,Methane,774.409534,778.860543,777.754009,765.962683,772.160762,764.998071,757.630506,741.833574,726.699755,...,680.197813,682.336329,656.270447,646.830144,642.457536,639.011110,638.482827,624.244787,630.304468,634.457127
2,Nitrous oxide,434.624267,424.828286,424.348137,452.370543,437.560064,449.257545,460.856922,446.662739,446.989496,...,422.461462,431.423771,421.855668,392.262993,439.175241,449.265174,443.821302,426.067401,421.258935,434.528555
3,Fluorinated gases,99.665712,90.681299,95.277722,95.003732,98.976937,117.854321,129.007715,136.601354,153.009033,...,160.211084,169.797165,177.112953,174.013124,173.888957,179.021155,181.635104,181.500688,183.065108,182.782432
4,Total,6437.000131,6373.259703,6480.086588,6596.774554,6685.730471,6771.015640,6974.407044,7028.804635,7077.750264,...,6753.906086,6981.613045,6820.533469,6580.674816,6769.551029,6829.016655,6676.371427,6524.080438,6488.234640,6676.649617